@{
    ViewBag.Title = "ITT Approve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Assets/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery.timepicker.min.css" rel="stylesheet" />
    <style>
        label {
            color: black;
        }
    </style>
}

<div style="width:100%">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">PHÒNG ITT & SMT PHÊ DUYỆT MANG HÀNG RA</h5>
    </div>
    <div class="row dataTables_wrapper dt-bootstrap4 above-table">
        <div class="col-2 input-group input-group-sm">
            <label class="no-margin-bottom" style="padding-top: 5px">Từ ngày</label>
            &nbsp;
            <input id="date_from" class="form-control bg-light from-date" readonly>
        </div>
        <div class="col-2 input-group input-group-sm">
            <label class="no-margin-bottom" style="padding-top: 5px">Đến ngày</label>
            &nbsp;
            <input id="date_to" class="form-control bg-light to-date" readonly>
        </div>
        <div class="col-2 input-group input-group-sm">
            <label class="no-margin-bottom" style="padding-top: 5px">Phòng ban</label>
            &nbsp;
            <input class="form-control bg-light to-date" />
        </div>
        <div class="col-2 input-group input-group-sm">
            <label class="no-margin-bottom" style="padding-top: 5px">Mã nhân viên</label>
            &nbsp;
            <input id="emp_code" class="form-control bg-light to-date">
        </div>
        <div class="col-2">
            <button class="btn btn-sm btn-primary" id="btn-search"><i class="fas fa-search"></i> Tìm kiếm</button>
        </div>
    </div>

    <div style="margin-top: 8px">
        <div class="button-container" style="float: left">
            <a class="btn btn-sm btn-success"><i class="fas fa-sync"></i> Tải lại</a>
        </div>
        <div style="float: right">
            <form class="radio-container">
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox" checked>Tất cả
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Chưa phê duyệt
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Đã phê duyệt
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Phê duyệt thay
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Hủy bỏ
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Bảo vệ đã xác nhận
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Bảo vệ chưa xác nhận
                </label>
            </form>
        </div>
    </div>
</div>


<div style="width:100%; overflow-x:auto">
    <!--Bảng dữ liệu Về sớm-->
    <table class="table table-hover table-bordered" id="approve-table" style="width: 100%">
        <!--Tiêu đề cột-->
        <thead>
            <tr class="table-heading">
                <th class="th-1">Mã</th>
                <th class="th-1">Nhân viên</th>
                <th class="th-1">Vị trí</th>
                <th class="th-1">Phòng ban</th>
                <th class="th-1">Lí do</th>
                <th class="th-1">Thời gian ước tính</th>
                <th class="th-1">Trạng thái</th>
                <th class="th-1">Chi tiết</th>
                <th class="th-1">Người tạo</th>
                <th class="th-1">Chỉnh sửa</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{

    <script src="~/Assets/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(() => {
            var options = {
                "serverSide": false,
                "searching": false,
                "orderCellsTop": true,
                "fixedHeader": true,
                "processing": true,
                "paging": true,
                "oLanguage": {
                    "sLengthMenu": "_MENU_"
                },
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 10,
                "lengthChange": false,
                "ajax": {
                    "type": "POST",
                    "url": "/BringOut/FetchBringOutData",
                    "dataType": "json",
                    "contentType": 'application/json; charset=utf-8'
                },
                "columns": [
                    {
                        data: function (res) {
                            return `<span>RBO</span>${res.ID}<span">${res.Team}</span>`;
                        }
                    },
                    {
                        data: function (res) {
                            return `<span class="border-right" style="padding-right:10px;">${res.EmpCode}</span><span style="margin-left:10px;">${res.FullName}</span>`;
                        }
                    },
                    { data: function (res) { return res.Position; } },
                    { data: function (res) { return res.Team; } },
                    { data: function (res) { return res.Reason; } },
                    {
                        data: function (res) {
                            return `<span class="border-right" style="padding-right:10px;">${res.EstimatedDate}</span><span style="margin-left:10px;">${res.EstimatedTime}</span>`;
                        }
                    },
                    {
                        data: function (res) {
                            return !res.Status ? 'Đang thực hiện' : 'Đã thực hiện';
                        }
                    },
                    {
                        data: function (res) {
                            var html = `<a href="/BringOut/ITTApproveDetail/${res.ID}" class="btn btn-standard btn-primary"><i class="fas fa-info" style="color: white"></i></a>`;
                            return html;
                        }
                    },
                    {
                        data: function (res) {
                            var createdUser = "";
                            //$.ajax({
                            //    url: '/User/GetUserByCode?empCode=' + res.CreatedBy,
                            //    type: "GET",
                            //    dataType: 'json',
                            //    success: (reponse) => {
                            //        createdUser = reponse.data.FullName;
                            //    }
                            //});
                            return `<span class="border-right" style="padding-right:10px;">${res.CreatedBy}</span><span style="margin-left:10px;">${createdUser}</span>`;
                        }
                    },
                    {
                        data: function (res) {
                            if (res.ModifiedDate === null || res.ModifiedDate === "" || typeof (res.ModifiedDate) === "undefined")
                                return "";
                            var date = new Date(parseInt(res.ModifiedDate.replace(/[^0-9 +]/g, '')));
                            var modifiedDate = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`;

                            return `${res.ModifiedBy} | ${modifiedDate}`;
                        }
                    }
                ]
            };
            var table = $('#approve-table').DataTable(options);
        });

        $('.datepicker, #date_from, #date_to').datepicker({
            dateFormat: 'dd/mm/yy'
        });

        $('#date_from, #date_to').datepicker().datepicker("setDate", new Date());

        $("#BO").removeClass('collapse');
        $("#BO").removeClass('collapsed');
        $("#BO").attr("aria-expanded", "true");
        $("#BOitt").addClass('active');
        $("#collapseBringOut").addClass('show');
        $("#collapseInOut").removeClass('collapse');
    </script>

}

