
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Assets/css/jquery.timepicker.min.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery-confirm.css" rel="stylesheet" />
}

<div class="form-horizontal">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">ĐĂNG KÝ MANG HÀNG VÀO</h5>
    </div>
    <!--Cột bên trái dành cho form đăng ký-->
    <div class="col-md-12 row-form">
        <div class="column form-horizontal form-left col-md-7">
            <div class="form-group row-1 input-group">
                <label class="control-label col-md-2 lb">Mã CNV <span class="red">(*)</span></label>
                <div class="col-md-3 input-group input-group-sm">
                    <input class="form-control input-previous-button col-md-12" id="txtEmpCodeBI" maxlength="8" autocomplete="off" />
                </div>
            </div>
            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Lý do <span class="red">(*)</span></label>
                <div class="col-md-10 input-group-sm">
                    <textarea class="form-control col-md-12" style="resize: none" id="reason"></textarea>
                </div>
            </div>
            <div class="form-group input-group specific-date-pick">
                <label class="col-2 top-space" for="EstimatedDate">Ngày đăng ký <span class="red">(*)</span></label>
                <div class="col-3 input-group-sm">
                    <input style="background: white" class="form-control input-previous-button datepicker" id="estimated_date" placeholder="Ngày" autocomplete="off" readonly />
                </div>
                <label class="top-space" for="EstimatedTime">Giờ đăng ký <span class="red">(*)</span></label>
                <div class="col-2 input-group-sm">
                    <input class="form-control input-previous-button timepicker" id="estimated_time" placeholder="Giờ" type="time" />
                </div>
            </div>
        </div>

        <div class="column col-1 col-mid"></div>

        <!--Cột bên phải dành cho thông tin nhân viên-->
        <div class="column form-horizontal form-right col-md-4">
            <!--Ảnh profile-->
            <div class="form-group col-12 profile-img">
                <div class="img-profile">
                    <img id="img-profile" src="~/Assets/img/the-world.jpg" />
                </div>
            </div>
            <!--Thông tin profile-->
            <div class="form-group input-group input-group-sm">
                <label class="col-3 top-space" for="FullName">Họ và tên</label>
                <input readonly class="form-control col-9 input-previous-button" id="txtFullNameBI" />
            </div>
            <div class="form-group input-group input-group-sm">
                <label class="col-3 top-space" for="Positon">Vị trí</label>
                <input readonly class="form-control col-9 input-previous-button" id="txtPositionBI" />
            </div>
            <div class="form-group input-group input-group-sm">
                <label class="col-3 top-space" for="Positon">Phòng ban</label>
                <input readonly class="form-control col-9 input-previous-button" id="txtTeamBI" />
            </div>
        </div>
    </div>
</div>

<br />

<div class="note col-12">
    <span class="control-label" style="color: dodgerblue"><u>Lưu ý</u>: <span style="color: #858796">&nbsp;Các trường <span style="color:red">(*)</span> bắt buộc phải nhập đầy đủ.</span></span>
</div>

<br />

<div class="bottom collapse show">
    <div class="form-horizontal row-add" id="bring-in-items" style="width:100%">
        <div class="items-container">
            <table class="table-bordered table table-hover" id="BI-items">
                <thead>
                    <tr class="table-header-items">
                        <th></th>
                        <th>Tên tài sản <span class="red">(*)</span></th>
                        <th>Serial <span class="red">(*)</span></th>
                        <th>Số lượng <span class="red">(*)</span></th>
                        <th>Đơn vị <span class="red">(*)</span></th>
                        <th>Loại tài sản <span class="red">(*)</span></th>
                        <th>Mang trở ra <span class="red">(*)</span></th>
                        <th colspan="2">Thời gian trở ra</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-items">
                        <td>
                            <label class="control-label btn btn-sm delete-items"><i class="fas fa-times-circle"></i></label>
                        </td>
                        <td class="input-group-sm">
                            <input class="form-control input-previous-button item" />
                        </td>
                        <td class="input-group-sm">
                            <input class="form-control input-previous-button serial" />
                        </td>
                        <td class="input-group-sm">
                            <input type="number" class="form-control input-previous-button quantity" min="0" />
                        </td>
                        <td class="input-group-sm">
                            <input class="form-control input-previous-button unit" maxlength="50" />
                        </td>
                        <td class="input-group-sm">
                            <select class="form-control input-previous-button assetType">
                                <option value="0" selected>Hàng thường</option>
                                <option value="1">Hàng IT</option>
                                <option value="2">Hàng độc hại</option>
                            </select>
                        </td>
                        @{ }
                        <td class="input-group-sm">
                            <select id="return" class="form-control input-previous-button isReturn">
                                <option value="true" selected>Có</option>
                                <option value="false">Không</option>
                            </select>
                        </td>
                        <td class="input-group-sm">
                            <input class="form-control datepicker returnDate" style="background: white" readonly placeholder="Ngày" autocomplete="off" />
                        </td>
                        <td class="input-group-sm">
                            <input class="form-control timepicker returnTime" placeholder="Giờ" type="time" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="text-align: center">
        <label id="add-row-items" class="btn-primary btn top-space btn-sm" title="Thêm hàng hóa khác" style="cursor: pointer; margin-top:8px;">
            <i class="fas fa-plus"></i>&nbsp; Thêm tài sản
        </label>
        <button id="register" class="btn-success btn btn-sm" type="submit" title="Đăng ký mang hàng vào" style="cursor: pointer">
            <i class="fas fa-edit"></i>&nbsp; Đăng ký
        </button>
    </div>
</div>

@section scripts{
    <script src="~/Assets/js/jquery.timepicker.min.js"></script>
    <script src="~/Assets/js/jquery-confirm.js"></script>
    <script src="~/Assets/js/bring_in/common.js"></script>
    <script>
        $("#add-row-items").off('click').on('click', function (e) {
            var html = `<tr class="row-items">
                                           <td>
                                               <label class="control-label btn btn-sm delete-items"><i class="fas fa-times-circle"></i></label>
                                           </td>
                                           <td class="input-group-sm">
                                               <input class="form-control input-previous-button item" />
                                           </td>
                                           <td class="input-group-sm">
                                               <input class="form-control input-previous-button serial" />
                                           </td>
                                           <td class="input-group-sm">
                                               <input type="number" class="form-control input-previous-button quantity" min="0" />
                                           </td>
                                           <td class="input-group-sm">
                                               <input class="form-control input-previous-button unit" maxlength="50" />
                                           </td>
                                           <td class="input-group-sm">
                                               <select class="form-control input-previous-button assetType">
                                                   <option value="0" selected>Hàng thường</option>
                                                   <option value="1">Hàng IT</option>
                                                   <option value="2">Hàng độc hại</option>
                                               </select>
                                           </td>
                                           <td class="input-group-sm">
                                               <select class="form-control input-previous-button isReturn">
                                                   <option value="true" selected>Có</option>
                                                   <option value="false">Không</option>
                                               </select>
                                           </td>
                                           <td class="input-group-sm">
                                               <input class="form-control datepicker returnDate" style="background: white" readonly placeholder="Ngày" autocomplete="off" />
                                           </td>
                                           <td class="input-group-sm">
                                               <input class="form-control timepicker returnTime" placeholder="Giờ" type="time" />
                                           </td>
                                        </tr>`;
            $('#BI-items > tbody:last-child').append(html);

            $('.datepicker, #estimated_date, .returnDate').datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });

        $('.datepicker, #estimated_date, .returnDate').datepicker({
            dateFormat: 'dd/mm/yy'
        });

        $("#BI-items").on("click", ".delete-items", function () {
            $(this).closest(".row-items").remove();
        });

        $('#txtEmpCodeBI').keyup(function () {
            var count = $('#txtEmpCodeBI').val().length;
            if (count == 7 || count == 8) {
                _userBI.getUserBI();
            } else {
                $('#txtFullNameBI').val("");
                $('#txtPositionBI').val("");
                $('#txtTeamBI').val("");
            }
        });

        $("#BI").removeClass('collapse');
        $("#BI").removeClass('collapsed');
        $("#BI").attr("aria-expanded", "true");
        $("#BICreate").addClass('active');
        $("#collapseBringIn").addClass('show');
        $("#collapseInOut").removeClass('collapse');

        $(document).ready(function () {
            $("#register").on("click", function () {
                if ($('#txtEmpCodeBI').val() == "") {
                    $('#txtEmpCodeBI').css("border-color", "red");
                } else {
                    $('#txtEmpCodeBI').css("border-color", "#d1d3e2");
                }

                if ($('#reason').val() == "") {
                    $('#reason').css("border-color", "red");
                } else {
                    $('#reasom').css("border-color", "#d1d3e2");
                }

                if ($('#estimated_date').val() == "") {
                    $('#estimated_date').css("border-color", "red");
                } else {
                    $('#estimated_date').css("border-color", "#d1d3e2");
                }

                if ($('#estimated_time').val() == "") {
                    $('#estimated_time').css("border-color", "red");
                } else {
                    $('#estimated_time').css("border-color", "#d1d3e2");
                }

                $(".item").each(function () {
                    if ($(this).val() == "") {
                        $(this).css("border-color", "red");
                        return false;
                    }
                });
            });
        });
    </script>
}