@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Assets/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery-confirm.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery.timepicker.min.css" rel="stylesheet" />
    <style>
        label {
            color: black;
        }
    </style>
}

<!--Div chứa table dữ liệu-->
<div style="width:100%">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">DANH SÁCH CNV MANG HÀNG VÀO</h5>
    </div>
    <div class="row dataTables_wrapper dt-bootstrap4 above-table">
        <div class="col-2 input-group input-group-sm">
            <label class="no-margin-bottom" style="padding-top: 5px">Từ ngày</label>
            &nbsp;
            <input id="date_from" class="form-control bg-light from-date" readonly>
        </div>
        <div class="col-2 input-group input-group-sm">
            <label class="no-margin-bottom" style="padding-top: 5px">Đến ngày</label>
            &nbsp;
            <input id="date_to" class="form-control bg-light to-date" readonly>
        </div>
        <div class="col-2 input-group input-group-sm">
            <label class="no-margin-bottom" style="padding-top: 5px">Phòng ban</label>
            &nbsp;
            <input id="team" class="form-control bg-light to-date">
        </div>
        <div class="col-2 input-group input-group-sm">
            <label class="no-margin-bottom" style="padding-top: 5px">Mã nhân viên</label>
            &nbsp;
            <input id="emp_code" class="form-control bg-light to-date">
        </div>
        <div class="col-2">
            <button class="btn btn-sm btn-primary" id="btn-search"><i class="fas fa-search"></i> Tìm kiếm</button>
        </div>
    </div>

    <div style="margin-top: 8px">
        <div class="button-container" style="float: left">
            <a class="btn btn-sm btn-success btn-reload"><i class="fas fa-sync"></i> Tải lại</a>
        </div>
        <div style="float: right">
            <form class="radio-container">
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox" checked>Tất cả
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Chưa phê duyệt
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Đã phê duyệt
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Phê duyệt thay
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Hủy bỏ
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Bảo vệ đã xác nhận
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Bảo vệ chưa xác nhận
                </label>
            </form>
        </div>
    </div>

    <div style="width:100%; overflow-x:auto">
        <!--Bảng dữ liệu Về sớm-->
        <table class="table table-hover table-bordered" id="BI-table" style="border-collapse: collapse; width: 100%">
            <!--Tiêu đề cột-->
            <thead>
                <tr class="table-heading">
                    <th class="th-1">Mã</th>
                    <th class="th-1">Nhân viên</th>
                    <th class="th-1">Vị trí</th>
                    <th class="th-1">Phòng ban</th>
                    <th class="th-1">Lí do</th>
                    <th class="th-1">Thời gian ước tính</th>
                    <th class="th-1">Trạng thái</th>
                    <th class="th-1">Thao tác</th>
                    <th class="th-1">Chi tiết</th>
                    <th class="th-1">In ấn</th>
                    <th class="th-1">Người tạo</th>
                    <th class="th-1">Chỉnh sửa</th>
                </tr>
            </thead>
            <tbody id="tblData"></tbody>
        </table>
    </div>
</div>
<div id="pagination" class="pagination"></div>
<!-- /.container-fluid -->

@section scripts{
    <script src="~/Assets/js/jquery.timepicker.min.js"></script>
    <script src="~/Assets/js/jquery-confirm.js"></script>
    <script src="~/Assets/js/jquery.dataTables.min.js"></script>
    <script>
        var table = null;
        $(document).ready(() => {
            var options = {
                "serverSide": false,
                "searching": false,
                "orderCellsTop": false,
                "fixedHeader": true,
                "processing": true,
                "paging": true,
                "oLanguage": {
                    "sLengthMenu": "_MENU_"
                },
                "lengthMenu": [[20, 25, 50, 100, -1], [20, 25, 50, 100, "All"]],
                "lengthChange": false,
                "pageLength": 20,
                "ajax": {
                    "type": "POST",
                    "url": "/BringIn/FetchBringInData",
                    "dataType": "json",
                    "contentType": 'application/json; charset=utf-8'
                },
                "columns": [
                    {
                        data: function (res) {
                            return `<span>RBI</span>${res.ID}<span">${res.Team}</span>`;
                        }
                    },
                    {
                        data: function (res) {
                            return `<span class="border-right" style="padding-right:10px;">${res.EmpCode}</span><span style="margin-left:10px;">${res.FullName}</span>`;
                        }
                    },
                    { data: function (res) { return res.Position; } },
                    { data: function (res) { return res.Team; } },
                    { data: function (res) { return res.Reason; } },
                    {
                        data: function (res) {
                            return `<span class="border-right" style="padding-right:10px;">${res.EstimatedDate}</span><span style="margin-left:10px;">${res.EstimatedTime}</span>`;;
                        }
                    },
                    {
                        data: function (res) {
                            return !res.Status ? 'Đang thực hiện' : 'Đã thực hiện';
                        }
                    },
                    {
                        data: function (res) {
                            var html = '';
                            if (res.Cancel) {
                                html = `<span class="red">Hủy bỏ</span>`;
                            }
                            else {
                                if (!res.Status) {
                                    html = `<a class="btn btn-edit btn-standard btnEdit" title="Sửa" href="/BringIn/Edit/${res.ID}">
                                               <i class="icon fas fa-cog" style="margin-left: -4px"></i>
                                            </a>
                                            <a class="btn btn-danger btn-standard btn-delete btnXoa" onclick="Delete(${res.ID})" title="Xóa">
                                               <i class="icon fas fa-times" style="margin-left: -2px; color: white; cursor: pointer"></i>
                                            </a>`;
                                }
                                else {
                                    html = `<a class="btn btn-cancel btn-danger btn-standard" id="btnCancel" onclick="Cancel(${res.ID})" title="Hủy bỏ">
                                                 <i class="fas fa-lock" style="margin-left: -3px"></i>
                                            </a>`;
                                }
                            }
                            return html;
                        }
                    },
                    {
                        data: function (res) {
                            var html = `<a href="/BringIn/Detail/${res.ID}" class="btn btn-standard btn-primary"><i class="fas fa-info" style="color: white"></i></a>`;
                            return html;
                        }
                    },
                    {
                        data: function (res) {
                            return `<a href="/BringIn/BIReport/${res.ID}" target="_blank" class="btn btn-print btn-primary btn-standard" id="btnPrint"  title="In báo cáo">
                                       <i class="fas fa-print" style="margin-left:-3.5px;"></i>
                                    </a>`;
                        }
                    },
                    {
                        data: function (res) {
                            if (res.CreatedDate === null || res.CreatedDate === "" || typeof (res.CreatedDate) === "undefined")
                                return "";
                            var date = new Date(parseInt(res.CreatedDate.replace(/[^0-9 +]/g, '')));
                            var createdDate = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()} | ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
                            return `<span class="border-right" style="padding-right:10px;">${res.CreatedBy}</span><span style="margin-left:10px;">${createdDate}</span>`;
                        }
                    },
                    {
                        data: function (res) {
                            if (res.ModifiedDate === null || res.ModifiedDate === "" || typeof (res.ModifiedDate) === "undefined")
                                return "";
                            var date = new Date(parseInt(res.ModifiedDate.replace(/[^0-9 +]/g, '')));
                            var modifiedDate = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()} | ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
                            return `<span class="border-right" style="padding-right:10px;">${res.ModifiedBy }</span ><span style="margin-left:10px;">${modifiedDate}</span>`;
                        }
                    }
                ]
            };
            table = $('#BI-table').DataTable(options);
        });

        function Delete(id) {
            $.confirm({
                title: 'Xác nhận!',
                content: 'Bạn có chắc muốn xóa!',
                buttons: {
                    confirm: async function () {
                        await $.ajax({
                            url: "/BringIn/Delete/" + id,
                            method: "GET",
                            success: function () {
                                window.location.reload();
                            }
                        })
                    },
                    cancel: function () {
                        //$.alert('Hủy bỏ!');
                    }
                }
            });
        }

        function Cancel(id) {
            $.confirm({
                title: 'Xác nhận!',
                content: 'Bạn có chắc muốn hủy!',
                buttons: {
                    confirm: async function () {
                        await $.ajax({
                            url: "/BringIn/Cancel/" + id,
                            method: "GET",
                            success: function () {
                                window.location.reload();
                            }
                        })
                    },
                    cancel: function () {
                        //$.alert('Hủy bỏ!');
                    }
                }
            });
        }

        $('.datepicker, #date_from, #date_to').datepicker({
            dateFormat: 'dd/mm/yy'
        });

        $('#date_from, #date_to').datepicker().datepicker("setDate", new Date());

        $("#BI").removeClass('collapse');
        $("#BI").removeClass('collapsed');
        $("#BI").attr("aria-expanded", "true");
        $("#BIHistory").addClass('active');
        $("#collapseBringIn").addClass('show');
        $("#collapseInOut").removeClass('collapse');
    </script>

    <script src="~/Assets/js/bring_in/common.js"></script>
}
