
@{
    ViewBag.Title = "ITT Approve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Assets/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery-confirm.css" rel="stylesheet" />
}
<div style="width:100%">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">PHÒNG ITT & SMT PHÊ DUYỆT MANG HÀNG VÀO</h5>
    </div>
    <div class="row dataTables_wrapper dt-bootstrap4 above-table">
        <div class="col-2 input-group input-group-sm">
            <label class="no-margin-bottom" style="padding-top: 5px">Từ ngày</label>
            &nbsp;
            <input id="date_from" class="form-control bg-light from-date" readonly>
        </div>
        <div class="col-2 input-group input-group-sm">
            <label class="no-margin-bottom" style="padding-top: 5px">Đến ngày</label>
            &nbsp;
            <input id="date_to" class="form-control bg-light to-date" readonly>
        </div>
        <div class="col-2 input-group input-group-sm">
            <label class="no-margin-bottom" style="padding-top: 5px">Phòng ban</label>
            &nbsp;
            <select class="form-control from-date">
                <option value="0">---All---</option>
                <option value="1">BOM</option>
                <option value="2">ACT</option>
                <option value="3">FST</option>
                <option value="4">GAT</option>
                <option value="5">HRT</option>
                <option value="6">ITT</option>
                <option value="7">MAT</option>
                <option value="8">MCT</option>
                <option value="9">MET</option>
                <option value="10">MMT</option>
                <option value="11">MQT</option>
                <option value="12">MTT</option>
                <option value="13">PDT</option>
                <option value="14">PUT</option>
                <option value="15">QAT</option>
                <option value="16">SCT</option>
                <option value="17">SMT</option>
                <option value="18">SQT</option>
            </select>
        </div>
        <div class="col-2 input-group input-group-sm">
            <label class="no-margin-bottom" style="padding-top: 5px">Mã nhân viên</label>
            &nbsp;
            <input id="emp_code" class="form-control bg-light to-date">
        </div>
        <div class="col-2">
            <button class="btn btn-sm btn-primary" id="btn-search"><i class="fas fa-search"></i> Tìm kiếm</button>
        </div>
    </div>

    <div style="margin-top: 8px">
        <div class="button-container" style="float: left">
            <a class="btn btn-sm btn-success"><i class="fas fa-sync"></i> Tải lại</a>
        </div>
        <div style="float: right">
            <form class="radio-container">
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox" checked>Tất cả
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Chưa phê duyệt
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Đã phê duyệt
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Phê duyệt thay
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Hủy bỏ
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Bảo vệ đã xác nhận
                </label>
                <label class="checkbox-inline radio-button">
                    <input class="radio" type="checkbox">Bảo vệ chưa xác nhận
                </label>
            </form>
        </div>
    </div>
</div>


<div style="width:100%; overflow-x:auto">
    <!--Bảng dữ liệu Về sớm-->
    <table class="table table-hover table-bordered" id="approve-table">
        <!--Tiêu đề cột-->
        <thead>
            <tr class="table-heading">
                <th class="th-1">Mã</th>
                <th class="th-1">Nhân viên</th>
                <th class="th-1">Vị trí</th>
                <th class="th-1">Phòng ban</th>
                <th class="th-1">Lí do</th>
                <th class="th-1">Thời gian ước tính</th>
                <th class="th-1">Trạng thái</th>
                <th class="th-1">Chi tiết</th>
                <th class="th-1">In ấn</th>
                <th class="th-1">Người tạo</th>
                <th class="th-1">Chỉnh sửa</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script src="~/Assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/js/jquery.timepicker.min.js"></script>
    <script src="~/Assets/js/jquery-confirm.js"></script>

    <script>
        $(document).ready(() => {
            var options = {
                "serverSide": false,
                "searching": false,
                "orderCellsTop": true,
                "fixedHeader": true,
                "processing": true,
                "paging": true,
                "oLanguage": {
                    "sLengthMenu": "_MENU_"
                },
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 20,
                "lengthChange": false,
                "ajax": {
                    "type": "POST",
                    "url": "/BringIn/FetchBringInApproveData?name=itt",
                    ///"url": "/BringIn/FetchBringInApproveData?name=itt&from=" + $("#date_from").val() + "&......",
                    "dataType": "json",
                    "contentType": 'application/json; charset=utf-8'
                },
                "columns": [
                    {
                        data: function (res) {
                            return `<span>RBI</span>${res.ID}<span">${res.Team}</span>`;
                        }
                    },
                    {
                        data: function (res) {
                            return `<span class="border-right" style="padding-right:10px;">${res.EmpCode}</span><span style="margin-left:10px;">${res.FullName}</span>`;
                        }
                    },
                    { data: function (res) { return res.Position; } },
                    { data: function (res) { return res.Team; } },
                    { data: function (res) { return res.Reason; } },
                    { data: function (res) { return res.EstimatedDate; } },
                    {
                        data: function (res) {
                            return !res.Status ? 'Đang thực hiện' : 'Đã thực hiện';
                        }
                    },
                    {
                        data: function (res) {
                            var html = `<a href="/BringIn/ITTApproveDetail/${res.ID}" class="btn btn-standard btn-primary"><i class="fas fa-info" style="color: white"></i></a>`;
                            return html;
                        }
                    },
                    {
                        data: function (res) {
                            return `<button class="btn btn-print btn-primary btn-standard" id="btnPrint" title="In báo cáo">
                                                        <i class="fas fa-print" style="margin-left:-3.5px;"></i>
                                                    </button>`;
                        }
                    },
                    {
                        data: function (res) {
                            var createdUser = "";
                            if (res.CreatedDate === null || res.CreatedDate === "" || typeof (res.CreatedDate) === "undefined")
                                return "";
                            var date = new Date(parseInt(res.CreatedDate.replace(/[^0-9 +]/g, '')));
                            var createdDate = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`;
                            return `<span class="border-right" style="padding-right:10px;">${res.CreatedBy}</span><span style="margin-left:10px;">${createdDate}</span>`;
                        }
                    },
                    {
                        data: function (res) {
                            if (res.ModifiedDate === null || res.ModifiedDate === "" || typeof (res.ModifiedDate) === "undefined")
                                return "";
                            var date = new Date(parseInt(res.ModifiedDate.replace(/[^0-9 +]/g, '')));
                            var modifiedDate = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`;

                            return `${res.ModifiedBy} | ${modifiedDate}`;
                        }
                    }
                ]
            };
            var table = $('#approve-table').DataTable(options);
        });

        $('.datepicker, #date_from, #date_to').datepicker({
            dateFormat: 'dd/mm/yy'
        });

        $('#date_from, #date_to').datepicker().datepicker("setDate", new Date());
    </script>
}

